* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}

body {
  /* background-color: rgb(255, 255, 255); */

  /* margin: 20px; */
  overflow: hidden;
  padding: 0;
}

.bg {
  background-size: auto 100%;

  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

h2 {
  padding: 0;
  margin: 0;
}

.bg-list {
  width: 200px;
  padding: 20px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  margin-left: -200px;
  transition: 0.3s all ease-in-out;
}

.bg-list:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: translateX(200px);
}

.bg-list:hover .bg-list-btn {
  opacity: 0.3;
}
.bg-list .bg-list-main {
  overflow-y: auto;
  height: 100%;
}
.bg-list .bg-list-main img {
  display: inline-block;
  width: 160px;
  margin-top: 12px;
  cursor: pointer;
}
.bg-list .bg-list-main div {
  text-align: center;
  margin-top: 12px;
  padding: 20px 0;
  cursor: pointer;
  background: rgba(256, 256, 256, 0.5);
}

.bg-list .bg-list-btn {
  position: absolute;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 10px;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.box {
  display: flex;
  position: relative;

  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
}

.box .section-left {
  flex: 4;
  height: 97vh;
  overflow-y: auto;

  border-radius: 20px;
  margin: 20px;
  /* padding: 12px; */
}

.box .section-left table {
  margin-top: 16px;
}

.box .section-left td {
  white-space: nowrap;
}

.box > .right {
  flex: 3;
  margin-left: 10px;
  height: 97vh;
  /* background: rgba(0, 0, 0, .6); */
  margin: 20px;

  border-radius: 20px;
  overflow-y: auto;
}

.box .right,
.box .section-left {
  transition: 0.3s all ease-in;
}

.box .right:hover,
.box .section-left:hover {
  transform: translateY(-6px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}

table tr {
  border: none;
  background-color: transparent !important;
}

table td {
  border: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 14px;
  border: none;
}

.tips_layes {
  display: none;
}

.team_vs_box {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  white-space: nowrap;
}

.team_a,
.team_b {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.team_a .message,
.team_b .message {
  margin-left: 20px;
}

.about_fonts {
  display: none;
  /* margin: 0 auto;
      font-size: 12px;
      width: 70%;
      display: flex;
      justify-content: space-between; */
}

.about_fonts p {
  margin-right: 20px;
}
